.iconsTogglePanel {
    display: flex;
    flex-direction: column;
    background: red;
}
.iconsToggleList {
    display: flex;
    flex-direction: row;
}
.titleBar {
    min-width: 128px;
    max-width: 256px;
    background-color: aquamarine;
    border-color: darkcyan; 
    border-width: 0px;
    border-bottom-width: 2px;
    border-style: solid; 
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 4zpx;

}
.componentPanelList {
    flex-direction: column;
    display: flex;
    background-color: aquamarine;
    border-color: darkturquoise;
    min-height: 256px;  
}

.numericInput {
    max-width:100px;
    min-width: 100px;
    font-size: smaller;
}